<div class="absf" style="z-index:1;position:relative;margin-top:3%;margin-left:3%">
    <ul id="myMenu" class="nav nav-pills nav-stacked pull-left">
        <li data-menuanchor="firstPage" class="active"><a href="#firstPage">Size</a></li>
        <li data-menuanchor="secondPage"><a href="#secondPage">Pattern</a></li>
        <li data-menuanchor="thirdPage"><a href="#thirdPage">Fabric</a></li>
        <li data-menuanchor="fourthPage"><a href="#fourthPage">Backing</a></li>
        <li data-menuanchor="fifthPage"><a href="#fifthPage">Binding</a></li>
        <li data-menuanchor="lastPage"><a href="#lastPage">Batting</a></li>
    </ul>
</div>
