
@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}


    <div class="section">
        <div class="container">
       <div class="pull-right">
        
             
          
       </div>
     </div>

    </div>
    <div class="section">
    <div class="jumbotron text-center">
                             <h1>Pick Your Pattern</h1>
</div>
    </div>
    <div class="section">
    <div class="jumbotron text-center">
                             <h1>Pick Your Fabric</h1>
</div></div>

<div class="section">
    <div class="jumbotron text-center">
        <h1> Pick Your Backing</h1>

    </div>
</div>

<div class="section">
    <div class="jumbotron text-center">
        <h1> Pick Your Binding</h1>

    </div>
</div>

<div class="section">
    <div class="jumbotron text-center">
        <h1> Pick Your Batting</h1>

    </div>
</div>