@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome To Quilt 101</h1>
    <h2>Quilting in just Three Easy Steps</h2>
</div>

<div class="container">
    <div class="col-md-3 text-center">
        <p>Step 1</p>
    </div>

</div>

<div id="fullpage">
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
</div>